/minggu4/nbproject/private/
/minggu4/build/
/minggu4/src/minggu5/nbproject/private/
/minggu4/src/minggu5.2/nbproject/private/
/minggu4/src/minggu5/build/
/minggu4/src/minggu5.2/build/
/minggu4/src/minggu6/nbproject/private/
/minggu4/src/minggu7/nbproject/private/
/minggu4/src/minggu7/build/
/minggu4/src/minggu7.2/nbproject/private/
/minggu4/src/minggu7.2/build/
